.containerForgot {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.containerFormForgot {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 1000px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 32px;
    background: rgba(245, 224, 139, 0.20);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.23);
}

.formForgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 10px;
    color: #000;
    border-radius: 30px 0px 0px 30px;
}

.formForgot p {
    font-weight: 400;
    font-size: 16px;
}

.formForgot a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 12px;
    text-decoration: underline;
}

.formForgot button {
    width: 30%;
    background-color: #F27D07;
    font-weight: 700;
    color: #151414;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.23);
}

.formForgot button:active {
    background-color: #8b4804;
}

.formForgot input {
    padding-left: 10px;
    width: 300px;
    height: 40px;
    background-color: #FF8000;
    border-width: 0;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.23);
}

.formForgot input:focus {
    background-color: #FBE6D2;
}

.containerSubscribeForgot {
    width: 40%;
    border-radius: 0px 30px 30px 0px;
    background: url(../../../assets/formbackground.jpg) lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.containerSubscribeForgot h2 {
    color: #FFF;
}

.containerSubscribeForgot div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.containerSubscribeForgot a {
    color: #FFF;
    font-weight: 400;
}

.containerSubscribeForgot button {
    border-radius: 10px;
    background: #FFF;
    color: #433C3C;
    font-weight: 700;
    color: #151414;
}