.containerHome {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1;
    margin-top: 20px;
    justify-content: center;
}

.containerFeedHome {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputFeedHome {
    width: 500px;
    border-radius: 40px;
    height: 150px;
    padding: 30px;
}

.buttonInputFeedHome {
    border-radius: 20px;
    align-self: flex-end;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #F27D07;
    font-weight: 700;
    color: #151414;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.23);
    border: 0;
}

.buttonInputFeedHome:active {
    background-color: #8b4804;
}

.feedHome {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border: 1.335px solid #CCCDD8;
    border-radius: 40px;
    height: 500px;
}