.containerProfile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1;
    margin-top: 20px;
    justify-content: center;
}

.containerEditProfile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px #a1a1a1 solid;
    border-radius: 40px;
}

.containerEditProfile form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.containerEditProfile form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 600;
}

.containerEditProfile select {
    padding: 5px;
    border-radius: 5px;
    border: 1px #a1a1a1 solid
}

.buttonSaveProfile {
    border-radius: 10px;
    align-self: flex-end;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #F27D07;
    font-weight: 700;
    color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.23);
    border: 2px #F27D07 solid;
}

.buttonSaveProfile:active {
    background-color: #8b4804;
}

.buttonCancelProfile {
    border-radius: 10px;
    align-self: flex-end;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #fff;
    font-weight: 700;
    color: #F27D07;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.23);
    border: 2px #F27D07 solid;
}

.buttonCancelProfile:active {
    background-color: #8b4804;
}

.headerBannerProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    background: url(../../../assets/headerBanner.png) lightgray 50% / cover no-repeat;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.menuProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    border: 1px #a1a1a1 solid;
    gap: 20px;
    padding: 10px 20px;
}